*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(21, 21, 235);
}
/* -------nav bar------ */
#nav{
    padding-bottom: 10px;
    background-image: linear-gradient(to right,#333333,#1a1a1a,#0d0d0d);
    position: fixed;
    padding-right: 91px ;
    display: block;
}
#logo{
    border: 2px solid black;
    display: inline-block;
    margin: 10px 0px 0px 10px;
    background-image: linear-gradient(to left,red,orange,#ffff00);
    border-bottom-right-radius: 10px ;
    border-top-left-radius: 10px;
}
#search{
    width: 150px;
    height: 26px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: #f2f2f2;
    display: inline;
    margin-left: 5px;
    padding-left: 10px;
}
/* -----------nav bar2 text-------- */
#nav2{
    border-bottom: 1px solid #1a0d00;
    background-image: linear-gradient(to right,#3366ff,#0033cc);
    font-weight: bold;
    font-family: cursive;
    word-spacing: 5px;
    margin-top: 32px;
}
#date1{
    color: yellow;
    font-weight: bold;
}
/* -----------nav bar3 down--------- */
#sec1{
    height: 250px;
    background-image: linear-gradient(to right,#3366ff,#0033cc);
    border: none;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 2px solid grey;
}
/* ------sec2 img------- */
#imain{
    background-image: linear-gradient(to right,#3366ff,#0033cc);
    border-radius: 10px;
    margin-bottom: 50px;
}
#img1{
    width: 180px;
    height: 200px;
    float: left;
}
#img2{
    width: 176px;
    height: 200px;
    float: right;
}
#imgp{
    display: inline-block;
    font-weight: bold;
    padding-right: 53px;
    font-family: 'Roboto Slab', serif;
    word-spacing: 5px;
    background-image: linear-gradient(to left,red,orange,#ffff00);
}
/* ----------links wedding------- */
#fb1{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(to right, #1a75ff,#005ce6);
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}
#ins1{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: inline-block;
    background-image: linear-gradient(to right, #cc0052,#b30047,#e6e600,#005ce6 );
    font-weight: bolder;
    padding: 10px 39px;
}
#you1{
    border: 1px solid red;
    display: inline-block;
    padding: 5px;
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
/* --------nav bottom----- */
#foot{
    background-image: linear-gradient(to right,#333333,#1a1a1a,#0d0d0d);
    display: inline-block;
    position: fixed;
    bottom: 0;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
}
#foot li{
    border: 1px solid red;
    display: inline-block;
    padding: 10px;
    margin: 0px 5px 0px 6.5px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: red;
    color: white;
}